# EDA for the dataset

The first step is to look for inconsistencies in the data like; inconsistencies in the column names, outliers, 
NAN values, etc.

In [6]:
# Libraries
import pandas as pd

# Loading the dataset
data = pd.read_csv('tabla.csv', sep=';')

FileNotFoundError: File b'tabla.csv' does not exist

### Checking the column names of the data

In [5]:
print(data.columns)

NameError: name 'data' is not defined

In [2]:
import re

# Function to normalize the column names
def normalize_names():
    names = []
    for name in data.columns:
        name = name.lower()
        name = re.sub(' ', '-', name)
        name = re.sub('/', '-', name)
        name = re.sub('á', 'a', name)
        name = re.sub('é', 'e', name)
        name = re.sub('í', 'i', name)
        name = re.sub('ó', 'o', name)
        name = re.sub('ú', 'u', name)
        names.append(name)
    return names
        
data.columns = normalize_names()    
print(data.columns)

NameError: name 'data' is not defined

### Checking the data types

In [5]:
print(data.head())
print(data.info())

       # codigo-de-cliente-proveedor            vendedor  \
0  19242                  C821003143  OMAR GIL Y DIOMARY
1  19243                  C821003143  OMAR GIL Y DIOMARY
2  19245                  C821003143  OMAR GIL Y DIOMARY
3  19246                  C821003143  OMAR GIL Y DIOMARY
4  19247                  C821003143  OMAR GIL Y DIOMARY

                         nombre-de-cliente-proveedor  fa    mes   año  \
0  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
1  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
2  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
3  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
4  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016

  fecha-de-contabilizacion total-bruto ingreso-bruto-linea       ...         \
0               28/03/2016          30                   0       ...
1               28/03/2016         387                   0       ...
2               28/03/2016        3100                   0       ...
3               28/03/2016        5600                   0       ...
4               28/03/2016       10475                   0       ...

   id-interno-de-documento  nc fecha-de-contabilizacion.1 cantidad-nc  \
0                     5963 NaN                        NaN           0
1                     5963 NaN                        NaN           0
2                     5963 NaN                        NaN           0
3                     5963 NaN                        NaN           0
4                     5963 NaN                        NaN           0

   total-bruto.1 ingreso-bruto-linea.1  cum  tipo-cliente-juan  \
0              0                     0  NaN                  2
1              0                     0  NaN                  2
2              0                     0  NaN                  2
3              0                     0  NaN                  2
4              0                     0  NaN                  2

   tipo-cliente-juan.1 abc-adjudicacion
0          NO ASOCIADO              NaN
1          NO ASOCIADO              NaN
2          NO ASOCIADO              NaN
3          NO ASOCIADO              NaN
4          NO ASOCIADO              NaN

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123193 entries, 0 to 123192
Data columns (total 27 columns):
#                              123193 non-null int64
codigo-de-cliente-proveedor    123193 non-null object
vendedor                       123193 non-null object
nombre-de-cliente-proveedor    123193 non-null object
fa                             123193 non-null int64
mes                            123193 non-null object
año                            123193 non-null int64
fecha-de-contabilizacion       123193 non-null object
total-bruto                    123193 non-null object
ingreso-bruto-linea            123193 non-null object
cantidad-fa                    123193 non-null int64
numero-de-articulo             123142 non-null object
codigo-padre                   123142 non-null object
codigo-padre.1                 123142 non-null object
tipo-insumo                    123038 non-null float64
descripcion-union              123142 non-null object
descripcion-del-articulo       123142 non-null object
id-interno-de-documento        123193 non-null int64
nc                             3962 non-null float64
fecha-de-contabilizacion.1     3962 non-null object
cantidad-nc                    123193 non-null int64
total-bruto.1                  123193 non-null object
ingreso-bruto-linea.1          123193 non-null object
cum                            100011 non-null object
tipo-cliente-juan              123193 non-null int64
tipo-cliente-juan.1            123193 non-null object
abc-adjudicacion               117596 non-null object
dtypes: float64(2), int64(7), object(18)
memory usage: 16.9+ MB
None

año should be object, total bruto should be float64, ingreso-linea-bruto should be float64, 
total-bruto.1 should be foat64, ingreso-bruto-linea.1 should be float64, cum should be float64, 
tipo-cliente-juan should be object and tipo-insumo should be object

### Changing the data types

In [12]:
import pandas as pd
import numpy as np
import re

df=pd.read_csv("datos.csv", sep=';')

def normalize_names():
	nombres=[]
	for nombre in df.columns:
		nombre = nombre.lower()
		nombre = re.sub('ó', 'o', nombre)
		nombre = re.sub('á', 'a', nombre)
		nombre = re.sub('í', 'i', nombre)
		nombre = re.sub('é', 'e', nombre)
		nombre = re.sub('_', '-', nombre)
		nombre = re.sub('ú', 'u', nombre)
		nombre = re.sub(' ','-', nombre)
		nombres.append(nombre)	
	return nombres


def cambiocomapunto(nombre):
	num=[]
	for numero in df['ingreso-bruto-linea']:
			numero = re.sub(',', '.', numero)
			num.append(numero)
	return num

df.columns=normalize_names()
df['ingreso-bruto-linea'] = cambiocomapunto('ingreso-bruto-linea') 
df['total-bruto'] =	cambiocomapunto('total-bruto')	
df['total-bruto.1'] =cambiocomapunto('total-bruto.1')	

df["total-bruto"]= df["total-bruto"].apply(pd.to_numeric, errors='coerce')
df["total-bruto.1"]= df["total-bruto.1"].apply(pd.to_numeric, errors='coerce')
df["tipo-insumo"] = df["tipo-insumo"].apply	(pd.to_numeric, errors='coerce')
df['año'] = df['año'].apply(str)

 
			 
			
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123193 entries, 0 to 123192
Data columns (total 27 columns):
#                              123193 non-null int64
codigo-de-cliente/proveedor    123193 non-null object
vendedor                       123193 non-null object
nombre-de-cliente/proveedor    123193 non-null object
fa                             123193 non-null int64
mes                            123193 non-null object
año                            123193 non-null object
fecha-de-contabilizacion       123193 non-null object
total-bruto                    123193 non-null float64
ingreso-bruto-linea            123193 non-null object
cantidad-fa                    123193 non-null int64
numero-de-articulo             123142 non-null object
codigo-padre                   123142 non-null object
codigo-padre.1                 123142 non-null object
tipo-insumo                    123038 non-null float64
descripcion-union              123142 non-null object
descripcion-del-articulo       123142 non-null object
id-interno-de-documento        123193 non-null int64
nc                             3962 non-null float64
fecha-de-contabilizacion.1     3962 non-null object
cantidad-nc                    123193 non-null int64
total-bruto.1                  123193 non-null float64
ingreso-bruto-linea.1          123193 non-null object
cum                            100011 non-null object
tipo-cliente-juan              123193 non-null int64
tipo-cliente-juan.1            123193 non-null object
abc-adjudicacion               117596 non-null object
dtypes: float64(4), int64(6), object(17)
memory usage: 25.4+ MB
None