# EDA for the data cleanning

The first step is to look for inconsistencies in the data like; inconsistencies in the column names, outliers, 
NAN values, etc.

In [90]:
# Libraries
import pandas as pd

# Loading the dataset
data = pd.read_csv('tabla.csv', sep=';')

### Checking the column names of the data

In [91]:
print(data.columns)

Index(['#', 'Código de cliente/proveedor', 'vendedor',
       'Nombre de cliente/proveedor', 'FA', 'mes', 'año',
       'Fecha de contabilización', 'Total bruto', 'Ingreso bruto línea',
       'Cantidad FA', 'Número de artículo', 'codigo padre', 'codigo padre.1',
       'tipo insumo', 'Descripcion unión', 'Descripción del artículo',
       'ID interno de documento', 'NC', 'Fecha de contabilización.1',
       'Cantidad NC', 'Total bruto.1', 'Ingreso bruto línea.1', 'CUM',
       'tipo cliente juan', 'tipo cliente juan.1', 'ABC ADJUDICACION'],
      dtype='object')

### Changing the column names

In [92]:
import re

# Function to normalize the column names
def normalize_names():
    names = []
    for name in data.columns:
        name = name.lower()
        name = re.sub(' ', '_', name)
        name = re.sub('/', '_', name)
        name = re.sub('\.', '_', name)
        name = re.sub('á', 'a', name)
        name = re.sub('é', 'e', name)
        name = re.sub('í', 'i', name)
        name = re.sub('ó', 'o', name)
        name = re.sub('ú', 'u', name)
        names.append(name)
    return names
        
data.columns = normalize_names()    
print(data.columns)

Index(['#', 'codigo_de_cliente_proveedor', 'vendedor',
       'nombre_de_cliente_proveedor', 'fa', 'mes', 'año',
       'fecha_de_contabilizacion', 'total_bruto', 'ingreso_bruto_linea',
       'cantidad_fa', 'numero_de_articulo', 'codigo_padre', 'codigo_padre_1',
       'tipo_insumo', 'descripcion_union', 'descripcion_del_articulo',
       'id_interno_de_documento', 'nc', 'fecha_de_contabilizacion_1',
       'cantidad_nc', 'total_bruto_1', 'ingreso_bruto_linea_1', 'cum',
       'tipo_cliente_juan', 'tipo_cliente_juan_1', 'abc_adjudicacion'],
      dtype='object')

The following columns must be eliminated from the dataframe: #, mes, año, numero_de_articulo, codigo_padre, codigo_padre_1, descripcion_union, id_interno_de_documento, nc (this column has many null values and not it recomended), fecha_de_contabilizacion_1 (has many null values), cantidad_nc, total_bruto_1 (has many null values), ingreso_bruto_linea_1 (has many null values)

### Eliminating the columns that are not necesary

In [93]:
data = data.drop(['#', 'mes', 'año', 'numero_de_articulo', 'codigo_padre', 'codigo_padre_1', 'descripcion_union', 
                 'id_interno_de_documento', 'nc', 'fecha_de_contabilizacion_1', 'cantidad_nc', 'total_bruto_1', 
                 'ingreso_bruto_linea_1'], axis=1)
print(data.columns)

Index(['codigo_de_cliente_proveedor', 'vendedor',
       'nombre_de_cliente_proveedor', 'fa', 'fecha_de_contabilizacion',
       'total_bruto', 'ingreso_bruto_linea', 'cantidad_fa', 'tipo_insumo',
       'descripcion_del_articulo', 'cum', 'tipo_cliente_juan',
       'tipo_cliente_juan_1', 'abc_adjudicacion'],
      dtype='object')

### Checking the data types

In [98]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 123193 entries, 2016-03-28 to 2017-05-19
Data columns (total 13 columns):
codigo_de_cliente_proveedor    123193 non-null object
vendedor                       123193 non-null object
nombre_de_cliente_proveedor    123193 non-null object
fa                             123193 non-null int64
total_bruto                    123193 non-null float64
ingreso_bruto_linea            123193 non-null float64
cantidad_fa                    123193 non-null int64
tipo_insumo                    123038 non-null category
descripcion_del_articulo       123142 non-null object
cum                            100011 non-null object
tipo_cliente_juan              123193 non-null category
tipo_cliente_juan_1            123193 non-null category
abc_adjudicacion               117596 non-null object
dtypes: category(3), float64(2), int64(2), object(6)
memory usage: 10.7+ MB
None

total bruto should be float64, ingreso_linea_bruto should be float64, fecha_de_contabilizacion should be a datetime object, 
cum should be float64, tipo_cliente_juan should be a category, tipo_cliente_juan_1 should be a category and tipo_insumo should be a category

### Changing the data types

In [95]:
def cambiocomapunto(nombre):
    num = []
    for numero in data[nombre]:
        numero = re.sub(',', '.', numero)
        num.append(numero)
    return num

data['ingreso_bruto_linea'] = cambiocomapunto('ingreso_bruto_linea') 
data['total_bruto'] = cambiocomapunto('total_bruto')

s = pd.Series(data["total_bruto"])
data["total_bruto"]= pd.to_numeric(s)

data.fecha_de_contabilizacion = pd.to_datetime(data.fecha_de_contabilizacion)

s = pd.Series(data["tipo_insumo"])
data["tipo_insumo"]= pd.to_numeric(s).astype('category')

s = pd.Series(data["ingreso_bruto_linea"])
data["ingreso_bruto_linea"]= pd.to_numeric(s)

data['tipo_cliente_juan'] = data['tipo_cliente_juan'].astype('category')
data['tipo_cliente_juan_1'] = data['tipo_cliente_juan_1'].astype('category')


print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123193 entries, 0 to 123192
Data columns (total 14 columns):
codigo_de_cliente_proveedor    123193 non-null object
vendedor                       123193 non-null object
nombre_de_cliente_proveedor    123193 non-null object
fa                             123193 non-null int64
fecha_de_contabilizacion       123193 non-null datetime64[ns]
total_bruto                    123193 non-null float64
ingreso_bruto_linea            123193 non-null float64
cantidad_fa                    123193 non-null int64
tipo_insumo                    123038 non-null category
descripcion_del_articulo       123142 non-null object
cum                            100011 non-null object
tipo_cliente_juan              123193 non-null category
tipo_cliente_juan_1            123193 non-null category
abc_adjudicacion               117596 non-null object
dtypes: category(3), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 10.7+ MB
None

### Changing the index of the DataFrame to be a datetime

In [96]:
data.index = data.fecha_de_contabilizacion
data = data.drop(['fecha_de_contabilizacion'], axis=1)
print(data.head())
print('\n\n\n')
print(data.tail())

                         codigo_de_cliente_proveedor            vendedor  \
fecha_de_contabilizacion
2016-03-28                                C821003143  OMAR GIL Y DIOMARY
2016-03-28                                C821003143  OMAR GIL Y DIOMARY
2016-03-28                                C821003143  OMAR GIL Y DIOMARY
2016-03-28                                C821003143  OMAR GIL Y DIOMARY
2016-03-28                                C821003143  OMAR GIL Y DIOMARY

                                                nombre_de_cliente_proveedor  \
fecha_de_contabilizacion
2016-03-28                HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...
2016-03-28                HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...
2016-03-28                HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...
2016-03-28                HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...
2016-03-28                HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...

                          fa  total_bruto  ingreso_bruto_linea  cantidad_fa  \
fecha_de_contabilizacion
2016-03-28                 1         30.0                  0.0            0
2016-03-28                 1        387.0                  0.0            0
2016-03-28                 1       3100.0                  0.0            0
2016-03-28                 1       5600.0                  0.0            0
2016-03-28                 1      10475.0                  0.0            0

                         tipo_insumo descripcion_del_articulo  cum  \
fecha_de_contabilizacion
2016-03-28                       NaN                      NaN  NaN
2016-03-28                       NaN                      NaN  NaN
2016-03-28                       NaN                      NaN  NaN
2016-03-28                       NaN                      NaN  NaN
2016-03-28                       NaN                      NaN  NaN

                         tipo_cliente_juan tipo_cliente_juan_1  \
fecha_de_contabilizacion
2016-03-28                               2         NO ASOCIADO
2016-03-28                               2         NO ASOCIADO
2016-03-28                               2         NO ASOCIADO
2016-03-28                               2         NO ASOCIADO
2016-03-28                               2         NO ASOCIADO

                         abc_adjudicacion
fecha_de_contabilizacion
2016-03-28                            NaN
2016-03-28                            NaN
2016-03-28                            NaN
2016-03-28                            NaN
2016-03-28                            NaN




                         codigo_de_cliente_proveedor vendedor  \
fecha_de_contabilizacion
2017-05-18                                 C75059908  DIOMARY
2017-05-19                                 C30386474  DIOMARY
2017-05-19                                 C30405069  DIOMARY
2017-05-19                                 C30405069  DIOMARY
2017-05-19                                 C30405069  DIOMARY

                           nombre_de_cliente_proveedor     fa  total_bruto  \
fecha_de_contabilizacion
2017-05-18                     ESCOBAR LOTERO MAURICIO  22395     10020.99
2017-05-19                BETANCUR AGUDELO MARIA ELENA  22396      8520.00
2017-05-19                    CARVAJAL ALZATE CAROLINA  22397      4200.00
2017-05-19                    CARVAJAL ALZATE CAROLINA  22397      5811.00
2017-05-19                    CARVAJAL ALZATE CAROLINA  22397      1157.00

                          ingreso_bruto_linea  cantidad_fa tipo_insumo  \
fecha_de_contabilizacion
2017-05-18                             420.86            1         2.0
2017-05-19                             360.00          120         1.0
2017-05-19                             200.00           20         1.0
2017-05-19                             298.01            1         2.0
2017-05-19                              57.00            1         1.0

                                                   descripcion_del_articulo  \
fecha_de_contabilizacion
2017-05-18                GUANTE PARA EXAMEN NO ESTERIL LATEX TALLA S 10...
2017-05-19                               ESOMEPRAZOL 20 mg TABLETA (TAKEDA)
2017-05-19                HIOSCINA N-BUTIL BROMURO 10 mg TABLETA (EXPOFA...
2017-05-19                         ALGODON QUIRURGICO ROLLO (TECNOQUIMICAS)
2017-05-19                PEROXIDO DE HIDROGENO 10 VOLUMENES FRASCO 120 ...

                                  cum tipo_cliente_juan tipo_cliente_juan_1  \
fecha_de_contabilizacion
2017-05-18                        NaN                 1            EMPLEADO
2017-05-19                20060286-10                 1            EMPLEADO
2017-05-19                 19973908-2                 1            EMPLEADO
2017-05-19                        NaN                 1            EMPLEADO
2017-05-19                 20004844-1                 1            EMPLEADO

                         abc_adjudicacion
fecha_de_contabilizacion
2017-05-18                              A
2017-05-19                              A
2017-05-19                              A
2017-05-19                              B
2017-05-19                            NaN

## Exporting the resulting DataFrame

In [106]:
json_file = data.to_json(orient='table')
with open('tabla_limpia.json', 'w') as file:
    file.write(json_file)