# EDA for the dataset

The first step is to look for inconsistencies in the data like; inconsistencies in the column names, outliers, 
NAN values, etc.

In [1]:
# Libraries
import pandas as pd

# Loading the dataset
data = pd.read_csv('tabla.csv', sep=';')

### Checking the column names of the data

In [2]:
print(data.columns)

Index(['#', 'Código de cliente/proveedor', 'vendedor',
       'Nombre de cliente/proveedor', 'FA', 'mes', 'año',
       'Fecha de contabilización', 'Total bruto', 'Ingreso bruto línea',
       'Cantidad FA', 'Número de artículo', 'codigo padre', 'codigo padre.1',
       'tipo insumo', 'Descripcion unión', 'Descripción del artículo',
       'ID interno de documento', 'NC', 'Fecha de contabilización.1',
       'Cantidad NC', 'Total bruto.1', 'Ingreso bruto línea.1', 'CUM',
       'tipo cliente juan', 'tipo cliente juan.1', 'ABC ADJUDICACION'],
      dtype='object')

In [4]:
import re

# Function to normalize the column names
def normalize_names():
    names = []
    for name in data.columns:
        name = name.lower()
        name = re.sub(' ', '-', name)
        name = re.sub('/', '-', name)
        name = re.sub('á', 'a', name)
        name = re.sub('é', 'e', name)
        name = re.sub('í', 'i', name)
        name = re.sub('ó', 'o', name)
        name = re.sub('ú', 'u', name)
        names.append(name)
    return names
        
data.columns = normalize_names()    
print(data.columns)

Index(['#', 'codigo-de-cliente-proveedor', 'vendedor',
       'nombre-de-cliente-proveedor', 'fa', 'mes', 'año',
       'fecha-de-contabilizacion', 'total-bruto', 'ingreso-bruto-linea',
       'cantidad-fa', 'numero-de-articulo', 'codigo-padre', 'codigo-padre.1',
       'tipo-insumo', 'descripcion-union', 'descripcion-del-articulo',
       'id-interno-de-documento', 'nc', 'fecha-de-contabilizacion.1',
       'cantidad-nc', 'total-bruto.1', 'ingreso-bruto-linea.1', 'cum',
       'tipo-cliente-juan', 'tipo-cliente-juan.1', 'abc-adjudicacion'],
      dtype='object')

### Checking the data types

In [5]:
print(data.head())
print(data.info())

       # codigo-de-cliente-proveedor            vendedor  \
0  19242                  C821003143  OMAR GIL Y DIOMARY
1  19243                  C821003143  OMAR GIL Y DIOMARY
2  19245                  C821003143  OMAR GIL Y DIOMARY
3  19246                  C821003143  OMAR GIL Y DIOMARY
4  19247                  C821003143  OMAR GIL Y DIOMARY

                         nombre-de-cliente-proveedor  fa    mes   año  \
0  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
1  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
2  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
3  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016
4  HOSPITAL DEPARTAMENTAL CENTENARIO DE SEVILLA E...   1  marzo  2016

  fecha-de-contabilizacion total-bruto ingreso-bruto-linea       ...         \
0               28/03/2016          30                   0       ...
1               28/03/2016         387                   0       ...
2               28/03/2016        3100                   0       ...
3               28/03/2016        5600                   0       ...
4               28/03/2016       10475                   0       ...

   id-interno-de-documento  nc fecha-de-contabilizacion.1 cantidad-nc  \
0                     5963 NaN                        NaN           0
1                     5963 NaN                        NaN           0
2                     5963 NaN                        NaN           0
3                     5963 NaN                        NaN           0
4                     5963 NaN                        NaN           0

   total-bruto.1 ingreso-bruto-linea.1  cum  tipo-cliente-juan  \
0              0                     0  NaN                  2
1              0                     0  NaN                  2
2              0                     0  NaN                  2
3              0                     0  NaN                  2
4              0                     0  NaN                  2

   tipo-cliente-juan.1 abc-adjudicacion
0          NO ASOCIADO              NaN
1          NO ASOCIADO              NaN
2          NO ASOCIADO              NaN
3          NO ASOCIADO              NaN
4          NO ASOCIADO              NaN

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123193 entries, 0 to 123192
Data columns (total 27 columns):
#                              123193 non-null int64
codigo-de-cliente-proveedor    123193 non-null object
vendedor                       123193 non-null object
nombre-de-cliente-proveedor    123193 non-null object
fa                             123193 non-null int64
mes                            123193 non-null object
año                            123193 non-null int64
fecha-de-contabilizacion       123193 non-null object
total-bruto                    123193 non-null object
ingreso-bruto-linea            123193 non-null object
cantidad-fa                    123193 non-null int64
numero-de-articulo             123142 non-null object
codigo-padre                   123142 non-null object
codigo-padre.1                 123142 non-null object
tipo-insumo                    123038 non-null float64
descripcion-union              123142 non-null object
descripcion-del-articulo       123142 non-null object
id-interno-de-documento        123193 non-null int64
nc                             3962 non-null float64
fecha-de-contabilizacion.1     3962 non-null object
cantidad-nc                    123193 non-null int64
total-bruto.1                  123193 non-null object
ingreso-bruto-linea.1          123193 non-null object
cum                            100011 non-null object
tipo-cliente-juan              123193 non-null int64
tipo-cliente-juan.1            123193 non-null object
abc-adjudicacion               117596 non-null object
dtypes: float64(2), int64(7), object(18)
memory usage: 16.9+ MB
None

año should be object, total bruto should be float64, ingreso-linea-bruto should be float64, 
total-bruto.1 should be foat64, ingreso-bruto-linea.1 should be float64, cum should be float64, 
tipo-cliente-juan should be object and tipo-insumo should be object